<h1 class ="text-center m-3">MODIFY <%= @flat.name.upcase  %> </h1>
<div class="container">
<%= simple_form_for(@flat) do |f| %>
  <%= f.input :name %>
  <%= f.input :adress %>
  <%= f.input :description %>
  <%= f.input :price_per_night %>
<div class="btn mt-3">
  <%= f.button :submit, "Confirm modifications", class:"btn btn-outline-dark" %>
<% end %>
<%= link_to "Back to all flats",flats_path, class:"btn btn-outline-dark" %>
</div>
</div>
